service: serverless101

app: serverless101-app
org: tomaszmarcinkowski

frameworkVersion: '2'

provider:
  name: aws
  runtime: nodejs12.x
  environment:
    COMPANIES_TABLE: ${self:service}-${self:provider.stage}-companiesFinanceInfo
  apiGateway:
    shouldStartNameWithService: true
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.COMPANIES_TABLE}"

plugins:
  - serverless-plugin-typescript

functions:
  unreliableDataSource:
    handler: functions/dataSource.default
    events:
      - http:
          path: slow-data-source/financial-risk/{id}
          method: get
    timeout: 5
  main:
    handler: functions/financialRisk.apiCheckCompany
    events:
      - http:
          path: financial-risk/{id}
          method: get
    environment:
      SOURCE_URI: https://dn7d67kfl4.execute-api.us-east-1.amazonaws.com/dev/slow-data-source/financial-risk/{id}

resources:
  Resources:
    companies:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.COMPANIES_TABLE}
        AttributeDefinitions:
          - AttributeName: companyId
            AttributeType: N
        KeySchema:
          - AttributeName: companyId
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
